{% extends "base.html" %}
{% load static %}

{% block title %}Thank you{% endblock title %}

{% block content %}
    <div class="grid-container purchase-confirmed">
        <div class="thanks">
            <h1>Thank you for your purchase</h1>
            <p>Your order has been successfully completed.</p>
            <p>Your order number is <strong>{{ order.id }}</strong></p>
            <a class="button" href="{% url 'shop:product_list' %}">Back to Shop</a>
        </div>
    </div>
{% endblock content %}