{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="grid-container">
        <main class="login">
            <div class="login-header">
                <h1>Login</h1>
                {% if form.errors %}
                {% else %}
                    <p>Use the form below to login:</p>        
                {% endif %}
            </div>

            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Login"></p>
            </form>
            
        </main>    
    </div>
    
{% endblock content %}