{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="grid-container">
        <main class="login">
            <h1>Login</h1>

            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Login"></p>
            </form>

        </main>    
    </div>
    
{% endblock content %}