{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="grid-container">
        <main class="registration">
            <h5>Login</h5>
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Login"></p>
            </form>
            <div class="registration-footer">
                <p class="sign-in"><a href="{% url 'register' %}">Sign in</a></p>
                <p class="forgot-password"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </div>
        </main>    
    </div>
{% endblock content %}