{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="grid-container">
        <main class="registration">
            <h5>Reset your password</h5>
            {% if validlink %}
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Change my password"></p>
                </form>
            {% else %}
                <p>Password link invalid</p>
                <p>Please request another password reset.</p>
            {% endif %}
        </main>
    </div>
{% endblock content %}