{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    <div class="grid-container">
        <main class="registration">
            <h5>Forgot your password?</h5>
            <p>Enter your e-mail address to reset it.</p>
            <form method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
        </main>
    </div>
{% endblock content %}