{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero grid-container">
        <div class="value-proposition">
            <h2>Improve your development workflow.</h2>
            <h5>Perhaps your dream design already exists!</h5>
        </div>
    </section>

    <section class="grid-container">
        <nav class ="categories-nav">
                <a href="{% url 'shop:product_list' %}" class="active">All</a>

            {% for category in categories %}
                    <a href="{{ category.get_absolute_url}}">{{ category.name }}</a>
            {% endfor %}
        </nav>
    </section>

    <main class="product-list grid-container">
        {% for product in products %}
            <div class="product-card">
                <div class="thumbnail">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.thumbnail %}{{product.thumbnail.url }} {% else %}{% static "images/default_thumbnail.png" %} {% endif %}" alt="">
                    </a>
                </div>
                
                <div class="label">
                    <div class="category-price-text">
                        <p>{% if product.category %}{{ product.category.name }}{% endif %}</p>
                        <div class="price">
                            <span>$</span><h6>{{ product.price }}</h6>
                        </div>
                    </div>
                    <a href="{{ product.get_absolute_url }}">
                        <h6>{{ product.name }}</h6>
                    </a>                 
                </div>                
            </div>
        {% endfor %}
    </main>
{% endblock content %}