@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*************************************************************************
  Variables
**************************************************************************/

:root {

  /* Colors */
  --color-primary: #1DE9B6;
  --color-secondary: #6179FF;
  --color-dark: #222A35;
  --color-warning: #F20A69;
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #465b52;
  --color-light-gray: #E3E6F3;

  /* Fonts */
  --font-family: "Montserrat", sans-serif;
  --font-size-h1: 60px;
  --font-size-h2: 54px;
  --font-size-h3: 48px;
  --font-size-h4: 36px;
  --font-size-h5: 24px;
  --font-size-h6: 18px;
  --font-size-p: 16px;
  --font-size-small: 12px;

  --font-line-height: 1.5;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/*************************************************************************
  Reset
**************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

/*************************************************************************
  Global Styles
**************************************************************************/
body {
    width: 100%;
    caret-color: var(--color-primary);
    /* background-color: var(--color-light-gray); */
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 64px;
    color: var(--color-dark);
}
  
h2 {
    font-size: var(--font-size-h2);
    line-height: 58px;
    color: var(--color-dark);
}
  
h3 {
    font-size: var(--font-size-h3);
    line-height: 46px;
    color: var(--color-dark);
}
  
h4 {
    font-size: var(--font-size-h4);
    color: var(--color-dark);
}

h5 {
    font-size: var(--font-size-h5);
    color: var(--color-dark);
}
 
h6 {
    font-size: var(--font-size-h6);
    color: var(--color-dark);
}
  
p {
    font-size: var(--font-size-p);
    color: var(--color-gray);
    margin: 16px 0 24px 0;
}
  
.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1410px;
    margin: 0 auto;
    gap: 30px;
}

.content {
    margin: 64px auto;
    height: 100%;
}

.button {
    display: inline-block;
    min-width: 80px;
    padding: 8px 32px;
    margin: 0 8px;
    border: 1px solid var(--color-dark);
    text-align: center;
    border-radius: 32px;
    text-decoration: none;
    color: var(--color-gray);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-semi-bold);
}

.button:hover {
    border: 1px solid var(--color-primary);
}

.button.active {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}


/*************************************************************************
  Header
**************************************************************************/

header {
    min-height: 64px;
    padding: 24px 0px;
    align-items: center;
}

#logo {
    grid-column: span 2;
}

#navbar {
    grid-column: 4 / span 6;
    justify-self: center;
}

#navbar a {
    text-decoration: none;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-semi-bold);
    padding: 0 24px;
    color: var(--color-dark);
}

#navbar a:hover {
    color: var(--color-primary);
}

#navbar a.active {
    color: var(--color-primary);
}

#icons-navbar {
    grid-column: 11 / span 2;
    justify-self: end;
}

#icons-navbar i {
   font-size: var(--font-size-h6);
   margin-left: 16px;
   color: var(--color-dark);
   justify-self: end;
}

#icons-navbar i:hover {
    color: var(--color-primary);
}


/*************************************************************************
  Footer
**************************************************************************/

footer {
    background: var(--color-dark);
    width: 100%;
    padding-top: 64px;
}

#footer-menus {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

#footer-menus h5 {
    color: var(--color-white);
    text-transform: uppercase;
    padding-bottom: 32px;
}

#footer-menus a {
    color: var(--color-light-gray);
    font-size: var(--font-size-p);
    text-decoration: none;
    padding-bottom: 24px;
}


#footer-categories {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}


#footer-services {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

#footer-about {
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

#footer-contact {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 1;
}

#footer-contact h6 {
    color: var(--color-white);
}

#social-media-icons {
    padding-top: 24px;
}

#social-media-icons a {
    color: var(--color-white);
    font-size: var(--font-size-h4);
    margin-right: 32px;
    text-decoration: none;
}

#social-media-icons a:hover {
    color: var(--color-primary);
}

#newsletter input {
    width: 100%;
    border: 3px solid var(--color-light-gray);
    background: transparent;
    border-radius: 8px;
    margin-top: 12px;
    padding: 12px 24px;
    display: inline-block;
}

#newsletter input:focus {
    outline: none !important;
    border: 3px solid var(--color-primary);
}

#newsletter input::placeholder {
    color: var(--color-light-gray);
    opacity: 50%;
    font-size: var(--font-size-small);
}

#copyright {
    grid-column: span 12;
    color: var(--color-light-gray);
    padding-top: 32px;
    margin: 0 auto;
}

#copyright i, #copyright p {
    color: var(--color-light-gray);
    display: inline-block;
}

/*************************************************************************
  Hero
**************************************************************************/

.hero {
    padding-bottom: 64px;
}

.value-proposition {
    grid-column: 4 / span 6;
    text-align: center;
}

.hero h2 {
    line-height: 1.3;
    margin-bottom: 16px;
}

.hero h5 {
    color: var(--color-gray);
    font-weight: var(--font-weight-regular);
}


/*************************************************************************
  Categories Navbar
**************************************************************************/

.categories-nav {
    grid-column: 4 / span 6;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 32px;
}

.categories-nav a {
    display: block;
    min-width: 80px;
    padding: 8px 32px;
    margin: 0 8px;
    border: 1px solid var(--color-dark);
    text-align: center;
    border-radius: 32px;
    text-decoration: none;
    color: var(--color-gray);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-semi-bold);
}

.categories-nav a:hover {
    border: 1px solid var(--color-primary);
}

.categories-nav a.active {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}

/*************************************************************************
  Shop
**************************************************************************/

/* Product List */
/* .product-list {
    padding-top: 64px;
} */

.product-card {
    grid-column: span 3;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border: 1px solid var(--color-light-gray);
    transition: all 0.2s ease-in-out ;
}

.product-card:hover {
    border: 1px solid var(--color-primary);
}

.product-card a {
    text-decoration: none;
}

.thumbnail {
    height: 250px;
    background: var(--color-light-gray);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbnail img {
    width: 102%;
}

.label {
    padding: 16px;
    background: var(--color-white);
}

.price h6 {
    display: inline-block;
    /* color: var(--color-white) */
}

.price span {
    /* color: var(--color-white); */
    padding-right: 3px;
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-bold);
    display: inline-block;
}

.category-price-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.category-price-text p {
    /* color: var(--color-light-gray); */
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    opacity: 70%;
    display: inline-block;
    margin: 0;
    padding: 0;
}


/*************************************************************************
  Product Detail
**************************************************************************/

.product-content {
    height: 100%;
    /* grid-template-rows: auto minmax(480px, 690px); */
}

.product-content img {
    grid-column: span 8;
    width: 100%;
    max-width: 930px;
    border: 3px solid var(--color-light-gray);
    border-radius: 32px;
}

.product-detail {
    grid-column: 9 / span 4;
    top: 30px;
    padding: 32px;
    border: 3px solid var(--color-light-gray);
    border-radius: 32px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.product-detail h1 {
    font-size: var(--font-size-h4);
    line-height: 1.2;
}

.product-detail .category-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-price h2 {
    font-size: var(--font-size-p);
    text-transform: uppercase;
}

.category-price a {
    text-decoration: none;
    color: var(--color-gray);
    text-transform: uppercase;
}

.category-price h6 {
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
}

.product-detail p {
    line-height: var(--font-line-height);
    /* text-align: justify; */
}

.product-detail--labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

}

.product-detail--label .label-title{
    font-size: var(--font-size-small);
    text-transform: uppercase;
    color: var(--color-dark);
    font-weight: var(--font-weight-semi-bold);
    line-height: 0;
}

.product-detail--label p {
    line-height: 0; 
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.add-cart--button {
    min-width: 80px;
    padding: 16px 32px;
    text-align: center;
    border: none;
    border-radius: 32px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-semi-bold);
}

.add-cart--button:hover {
    cursor: pointer;
    background-color: var(--color-dark);
}


/*************************************************************************
  Shopping Cart
**************************************************************************/

.cart-content {
    grid-column: span 12;
}

.cart-content h1 {
    font-size: var(--font-size-h5);
    margin-bottom: 16px;
    text-align: center;
}

.cart-content li {
    list-style: none;
}

.cart {
    display: flex;
    flex-direction: column;
}

.cart img {
    max-width: 180px;
    border-radius: 8px;
}

.cart .cart-labels {
    font-weight: var(--font-weight-bold);
    border-top: 3px solid var(--color-light-gray);
    border-bottom: 3px solid var(--color-light-gray);
    padding: 16px 0px;
    justify-items: start;
    width: 100%;
    grid-template-columns: 1fr 3fr 5fr 1fr;
}

.cart .cart-products {
    padding: 16px 0px;
    justify-items: start;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    border-bottom: 1px solid var(--color-light-gray);
}

.cart .cart-total {
    padding: 16px 0px;
    justify-items: center;
    width: 100%;
    font-weight: var(--font-weight-bold);
    border-top: 3px solid var(--color-light-gray);
}

.cart .cart-total .total-label {
    grid-column: 11 / span 1;
}

.cart .cart-total .total-price {
    grid-column: 12 / span 1;
}

.cart input {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-p);
    background: transparent;
    border-radius: 200px;
    border: 1px solid var(--color-dark);
}

.cart input:hover {
    border: 1px solid var(--color-warning);
    color: var(--color-warning);
    cursor: pointer;
}

.cart .flex-text-space-between {
    padding-top: 32px;
}

.flex-text-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

