<footer>
    <div class="container">
        <div id="footer-menus">
            <div id="footer-categories">
                <h5>Categories</h5>
                <a href="#">UI Kits</a>
                <a href="#">Illustrations</a>
                <a href="#">Posters</a>
            </div>

            <div id="footer-services">
                <h5>Services</h5>
                <a href="#">Logo Design</a>
                <a href="#">Visual Identity</a>
                <a href="#">User Interfaces</a>
                <a href="#">Web Design</a>
            </div>

            <div id="footer-about">
                <h5>About</h5>
                <a href="#">Logo Design</a>
                <a href="#">Visual Identity</a>
                <a href="#">User Interfaces</a>
                <a href="#">Web Design</a>
            </div>
        </div>
        
        <div id="footer-contact">
            <div id="social-media">
                <h6>Connect with us</h6>
                <div id="social-media-icons">
                    <a href="#">
                        <i class="fa-brands fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-behance"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <div id="newsletter">
                <h6>Join our newsletter</h6>
                <form action="">
                    <input type="email" name="newsletter" placeholder="Insert your email...">
                </form>
            </div>
        </div>

        <div id="copyright">
            <i class="fa-regular fa-copyright"></i>
            <p>2023 - Xpiece | All Rights Reserved</p>
        </div>
    </div>
</footer>