<footer>
    <div class="grid-container">
        <div id="footer-menus">
            <div id="footer-categories">
                <h5>Categories</h5>
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url}}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        
        <div id="footer-contact">
            <div id="social-media">
                <h6>Connect with us</h6>
                <div id="social-media-icons">
                    <a href="#">
                        <i class="fa-brands fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-behance"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <div id="newsletter">
                <h6>Join our newsletter</h6>
                <form action="">
                    <input type="email" name="newsletter" placeholder="Insert your email...">
                </form>
            </div>
        </div>

        <div id="footer-visit">
            <h5>Contact Us</h5>
            <p>Av. Guedner, nº 1610 - Bloco 11</p>
            <p>Jardim Aclimação</p>
            <p>Maringá / PR</p>
            <br>
            <p>55 44 3027 6360</p>
            <p>0800 604 4422</p>
        </div>

        <div id="copyright">
            <i class="fa-regular fa-copyright"></i>
            <p>2023 - Xpiece | All Rights Reserved</p>
        </div>
    </div>
</footer>