{% load static %}
<header class="grid-container">
    <div id="logo">
        <a href="/">
            <img src="{% static 'images/logo.png' %}" alt="Company Logo">
        </a>
    </div>

    <nav id="navbar">
        <a href="/" class="active">Home</a>
        <a href="{% url 'shop:product_list' %}">Shop</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>

    <div id="icons-navbar"> 
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</header>