{% extends "base.html" %}
{% block title %}Payment Successful{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="payment-processed">
            <h1>Thank you for your purchase</h1>
            <p>Your payment has been processed successfully.</p>
            <p>It Works! {{ order.paid }}</p>

            {% for item in order.items.all  %}
                <a href="{{ item.product.file.url }}">{{ item.product.name }}</a>
            {% endfor %}

            {% if order.paid %}
                <h3>Order is Paid</h3>
            {% else %}
                <h3>Waiting Payment</h3>
            {% endif %}
            <p>
                <a href="{% url 'shop:product_list' %}" class="button light">Return to Store</a>
            </p>
        </div>
    </div>
{% endblock %}